<% content_for :page_name do %>
  <%= link_to "Edit Profile", profile_path %> | Edit Account Details
<% end %>
<div style="text-align:center;">
  <div class="ui-widget ui-corner-top box" style="display:inline-block; text-align:left;">
    <h1><strong>Edit <%= resource_name.to_s.humanize %></strong></h1>

    <div>
      <%= form_for(resource_name, resource, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_messages %>

        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username, :class => "text ui-corner-all ui-widget-content" %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email, :class => "text ui-corner-all ui-widget-content" %>
        </div>

        <div class="field">
          <%= f.label :password %> 
          <em>(leave blank if you don't want to change it)</em><br />
          <%= f.password_field :password, :class => "text ui-corner-all ui-widget-content" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, :class => "text ui-corner-all ui-widget-content" %>
        </div>

        <div class="field">
          <%= f.label :current_password %>
          <em>(we need your current password to confirm your changes)</em><br />
          <%= f.password_field :current_password, :class => "text ui-corner-all ui-widget-content" %>
        </div>

        <div class="field">
          <%= f.submit "Update", :class => "ui-corner-all ui-state-default button" %>
        </div>
      <% end %>
    </div>
  </div>

  <br />
  <div class="ui-widget ui-corner-top box" style="display:inline-block; text-align:left;">
    <h1><strong>Delete my account</strong></h1>
    <div style="text-align:center;">
      <div class="notice">Note: This operation 
        cannot be undone.  <br />
        All data associated with your user account will also be deleted.
        <br />
        <%= link_to "Delete", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => "ui-corner-all ui-state-default button" %>
      </div>
    </div>
  </div>

</div>
