<% content_for :summary do %>
  You've got a new comment from <%= @commenter.full_name %>!
<% end %>

<div>
  <%= @commenter.full_name %> (<%= @commenter.email %>) has 
  <% if @comment.commentable.class == Comment %>
    replied to
  <% else %>
    commented on
  <% end %> 
  your <%= @comment.commentable.class.to_s.downcase %>.
</div>

<hr />

<div>
  <%= link_to "View on Site", comment_url(@comment) %>
</div>

<div>
  <strong><%= @commenter.full_name %> says:</strong>
  <br />
  <%= @comment.html_format %>
  <br />
  <br />
</div>

<% if APP_CONFIG['allow_email_reply'] %>
  <div class="alert alert-info">
    <strong>Note:</strong> Reply to this email to comment on the site. 
  </div>
<% end %>

<hr />

<div>
  Signed, <br />
  The Review Swami
</div>
