<% diff.comments.each do |c| %>
  <div class="comment">
    <span class="author"><%= c.user.username %></span> 
    says "<%= c.content %>" 
    <div style="margin-left:0.8em; display:inline-block; vertical-align:middle;">
      <a href="#" class="left">
        <span class="ui-icon ui-icon-arrowreturnthick-1-w left"></span>Reply</a>
    </div>

  </div>
<% end %>

<div class="comment-box hidden">
  <%= form_for(:comment) do |f| %>
    <div class="field">
      <%= f.label :content, "Comment" %>
      <%= f.text_area :content, :rows => 2, :style => "width:99%;",
          :class => "text ui-corner-all ui-widget-content"  %>
    </div>
    <div class="field text-right">
      <%= link_to_function "Save Comment", 
          "submit_diff_comment(this, #{diff.id})",
          :class => "ui-corner-all ui-state-default button" %>
      <%= link_to_function "Close", "close_diff_comment(this);", 
          :class => "ui-corner-all ui-state-default button" %>
    </div>
  <% end %>
</div>

