<% @changeset.diffs.each do |d| %>
  <a name="file_<%= d.id %>"></a>
  <div class="ui-widget ui-corner-top box">
    <h1>
      <a href="#"><span class="ui-icon ui-icon-document left" 
                        style="margin-right:0.3em"></span>
                        <%= d.updated_file %></a>
      <%= add_comment_button d, "#diff_comment_#{d.id}", 
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-circle-plus left"></span>Add Comment
      <% end %>
    </h1>

    <div class="comment-box-container" style="padding:0;">
      <%= render :partial => "shared/comments", 
          :locals => { :commentable => d } %>
      <div id="diff_comment_<%= d.id %>"></div>
    </div>

    <table cellpadding="0" cellspacing="0" class="diff">
      <% lineno_left = 1 %>
      <% lineno_right = 1 %>
      <% type = "" %>
      <% total_line = 0 %>
      <% d.contents.lines.to_a.each do |line| %>
        <% if line =~ /^@@\s+-(\d+)(,(\d+))*\s+\+(\d+)(,(\d+))*\s+@@/ %>
          <% lineno_left = $1.to_i 
             lineno_right = $4.to_i 
             line_text_left = line_text_right = "..." 
             type = "lineno" %>
        <% elsif line =~ /^\+/ %>
          <% line_text_left = "" 
             line_text_right = lineno_right
             type = "new"
             lineno_right += 1 %>
        <% elsif line =~ /^-/ %>
          <% line_text_left = lineno_left
             line_text_right = ""
             type = "old"
             lineno_left += 1 %>
        <% else %>
          <% line_text_left = lineno_left
             line_text_right = lineno_right
             type = ""
             lineno_left += 1
             lineno_right += 1 %>
        <% end %>

        <tr class="<%= type %>">
          <td class="lineno-left"><%= line_text_left %></td>
          <td class="lineno-right"><%= line_text_right %></td>
          <td>
            <%= add_comment_button d, "#line_comment_#{d.id}_#{total_line}",
                total_line, :class => "add-comment-button" do %>
              <span class="ui-icon ui-icon-plus left"></span>
              <span class="ui-icon ui-icon-comment left"></span>
            <% end %>
            <pre><%= line %></pre>
          </td>
        </tr>
        <tr class="comment-box-container">
          <td colspan="3">
            <%= render :partial => "shared/comments", 
                       :locals => { :commentable => d, 
                                    :lineno => total_line } %>
            <div id="line_comment_<%= d.id %>_<%= total_line %>"></div>
          </td>
        </tr>
        <% total_line += 1 %>
      <% end %>
    </table>
  </div>
  <div>
    <a href="#files"><span class="ui-icon ui-icon-carat-1-n inline-icon"></span>Back to Top</a>
  </div>
<% end %>

