<% if d.comments.length == 0 %>
  <% key = "diff/#{d.id}/#{@display_type}" %>
<% else %>
  <% key = "diff/#{d.id}/#{@display_type}/user/#{current_user.id}" %>
<% end %>

<% cache(key) do %>
<div class="box">
  <div class="row-fluid">
    <h4>
      <a name="file_<%= d.id %>" class="filemark"></a>
      <i class="icon-file" style="margin-right:0.3em"></i>
      <span class="filename">
        <% if d.was_file_deleted %>
          <%= d.origin_file %>
        <% else %>
          <%= d.updated_file %>
        <% end %>
      </span>
      <%= add_comment_button d, "#diff_comment_#{d.id}", 
          :class => "pull-right btn btn-small" do %>
        <i class="icon-plus-sign"></i>Add Comment
      <% end %>
    </h4>
  </div>

  <div class="row-fluid">
    <div class="span12 comment-box-container">
      <%= render :partial => "shared/comment", 
          :collection => d.overall_comments %>
      <div id="diff_comment_<%= d.id %>"></div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => @display_type, :locals => { :diff => d } %>
    </div>
  </div>
</div>

<br />
<div class="row-fluid">
  <a href="#files"><i class="icon-chevron-up"></i>Back to Top</a>
</div>
<br />
<% end # cache %>
