<a name="file_<%= d.id %>"></a>
<div class="ui-widget ui-corner-top box">
  <h1>
    <span class="ui-icon ui-icon-document left" 
          style="margin-right:0.3em"></span>
    <%= d.updated_file %>
    <%= add_comment_button d, "#diff_comment_#{d.id}", 
        :class => "ui-state-default ui-corner-all button" do %>
      <span class="ui-icon ui-icon-circle-plus left"></span>Add Comment
    <% end %>
  </h1>

  <div class="comment-box-container" style="padding:0;">
    <%= render :partial => "shared/comments", 
        :locals => { :commentable => d } %>
    <div id="diff_comment_<%= d.id %>"></div>
  </div>

  <%= render :partial => @display_type, :locals => { :diff => d } %>
</div>

<div style="font-size:0.9em;">
  <a href="#files"><span class="ui-icon ui-icon-carat-1-n inline-icon"></span>Back to Top</a>
</div>
