<%= form_for(@review_event) do |f| %>
  <% if @review_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_event.errors.count, "error") %> prohibited this review_event from being saved:</h2>

      <ul>
      <% @review_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name, :style => "width:20em;", :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Notes" %>
    <%= f.text_area :notes, :rows => 5, :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Reviewers" %>
    <table>
      <% @review_event.reviewers.each do |r| %>
        <tr id="reviewer_<%= @review_event.id %>_<%= r.id %>">
          <td><%= r.username %></td>
          <td>
            <%= f.fields_for r do |f2| %>
              <%= f2.hidden_field :id %> 
            <% end %>
            <%= link_to "Remove", reviewer_destroy_url(@review_event.id, r.id), 
                :remote => true, :method => 'delete' %>
            <!--<a href="#" style="margin-left:3em;">Remove</a>-->
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="actions field">
    <%= f.submit :value => submit_value, :class => "ui-corner-all ui-state-default button" %>
  </div>
<% end %>
