<%= form_for(@review_event) do |f| %>
  <% if @review_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_event.errors.count, "error") %> 
      prohibited this review_event from being saved:</h2>

      <ul>
      <% @review_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label "Name" %>
    <%= f.text_field :name, :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Due Date" %>
    <%= f.text_field :duedate, :style => "width:20em;",
        :class => "text ui-corner-all ui-widget-content datepicker" %>
  </div>

  <div class="field">
    <%= f.label "Notes" %>
    <%= f.text_area :notes, :rows => 5, 
        :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Reviewers" %>
    <%= render :partial => "reviewers", :locals => { :f => f } %>
    <p class="info hidden" style="font-style:italic; font-size:0.8em;">
      Start typing a username or email of a reviewer to view choices.</p>
    <%= link_to_add_reviewer "Add Reviewer", f %>
    <!--<a href="#" onclick="add_reviewer(this);">
      <span class="ui-icon ui-icon-plus left"></span>Add Reviewer
    </a>-->
  </div>

  <div class="actions field">
    <%= f.submit :value => submit_value, 
        :class => "ui-corner-all ui-state-default button" %>
  </div>
<% end %>
