<script type="text/javascript">
  var user_type = 'review_event_id';
</script>
<%= form_for(@review_event) do |f| %>
  <input type="hidden" id="review_event_id" value="<%= @review_event.id %>" />
  <% if @review_event.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <h4 class="alert-heading">
        <%= pluralize(@review_event.errors.count, "error") %> 
        prohibited this review_event from being saved:
      </h4>

      <ul>
      <% @review_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label "Review Name" %>
    <%= f.text_field :name  %>
  </div>

  <div class="field">
    <%= f.label "Due Date" %>
    <%= f.text_field :duedate, :"data-datepicker" => "datepicker",
      :value => (@review_event.duedate.nil? ? "" : @review_event.duedate.to_s(:review)) %>
    <span class="help-inline">(optional)</span>
  </div>

  <div class="field">
    <%= f.label "Bug Number" %>
    <%= f.text_field :buglink %>
    <span class="help-inline">(optional)</span>
  </div>

  <div class="field">
    <%= f.label "Notes (optional)" %>
    <%= f.text_area :notes, :rows => 5, :style => "width:100%" %>
  </div>

  <div class="field">
    <%= f.label "Reviewers" %>
    <!--<%= add_reviewer_select "Add Reviewer", f %>-->
    <%= render :partial => "reviewers", :locals => { :f => f } %>
    <!--<div id="new_reviewers"></div>
    <script type="text/javascript">add_reviewer();</script>-->
  </div>

  <div class="actions field">
    <%= f.submit :value => submit_value, :class => "btn" %>
  </div>
<% end %>
