<script type="text/javascript">
  var user_type = 'review_event_id';
</script>
<%= form_for(@review_event) do |f| %>
  <input type="hidden" id="review_event_id" value="<%= @review_event.id %>" />
  <% if @review_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_event.errors.count, "error") %> 
      prohibited this review_event from being saved:</h2>

      <ul>
      <% @review_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label "Review Name" %>
    <%= f.text_field :name, :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Due Date (optional)" %>
    <%= f.text_field :duedate, :style => "width:20em;",
      :class => "text ui-corner-all ui-widget-content datepicker",
      :value => (@review_event.duedate.nil? ? "" : @review_event.duedate.to_s(:review)) %>
  </div>

  <div class="field">
    <%= f.label "Bug Number (optional)" %>
    <%= f.text_field :buglink, :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Notes (optional)" %>
    <%= f.text_area :notes, :rows => 5, 
        :class => "text ui-corner-all ui-widget-content" %>
  </div>

  <div class="field">
    <%= f.label "Reviewers" %>
    <!--<%= add_reviewer_select "Add Reviewer", f %>-->
    <%= render :partial => "reviewers", :locals => { :f => f } %>
    <!--<div id="new_reviewers"></div>
    <script type="text/javascript">add_reviewer();</script>-->
  </div>

  <div class="actions field">
    <%= f.submit :value => submit_value, 
        :class => "ui-corner-all ui-state-default button" %>
  </div>
<% end %>
