<table class="reviewer-table">
  <% @review_event.review_event_users.each do |r| %>
    <tr>
      <td><%= r.user.username %></td>
      <td>
        <%= link_to_function "<span class=\"ui-icon ui-icon-close left\"></span>Remove".html_safe, "remove_reviewer(this);", :class => "remove-link" %>
        <%= f.fields_for :review_event_users, r do |f2| %>
          <%= f2.hidden_field :_destroy %> 
          <%= render :partial => "new_reviewer", :locals => { :f => f2 } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

