<% left_comments = diff.left_comments %>
<% right_comments = diff.right_comments %>
<% both_comments = diff.both_comments %>

<table cellpadding="0" cellspacing="0" class="diff">
  <% lineno_left = 1 %>
  <% lineno_right = 1 %>
  <% type = "" %>
  <% total_line = 0 %>
  <% diff.contents.lines.to_a.each do |line| %>
    <% if line =~ /^@@\s+-(\d+)(,(\d+))*\s+\+(\d+)(,(\d+))*\s+@@/ %>
      <% lineno_left = $1.to_i 
         lineno_right = $4.to_i 
         line_text_left = line_text_right = "..." 
         type = "range" %>
    <% elsif line =~ /^\+/ %>
      <% line_text_left = "" 
         line_text_right = lineno_right
         type = "new"
         lineno_right += 1 %>
    <% elsif line =~ /^-/ %>
      <% line_text_left = lineno_left
         line_text_right = ""
         type = "old"
         lineno_left += 1 %>
    <% else %>
      <% line_text_left = lineno_left
         line_text_right = lineno_right
         type = "line"
         lineno_left += 1
         lineno_right += 1 %>
    <% end %>

    <tr>
      <td class="lineno-left"><%= line_text_left %></td>
      <td class="lineno-right"><%= line_text_right %></td>
      <td class="line-unified <%= type %>">
        <% if not type == "range" %>
          <%= add_comment_button diff, "#line_comment_#{diff.id}_#{total_line}",
              line_text_left, line_text_right, 
              :class => "add-comment-button" do %>
            <span class="ui-icon ui-icon-plus left"></span>
            <span class="ui-icon ui-icon-comment left"></span>
          <% end %>
        <% end %>
        <pre><%= line %></pre>
      </td>
    </tr>
    <tr class="comment-box-container">
      <td class="lineno"></td>
      <td class="lineno"></td>
      <td>
        <% left = right = nil %>
        <% left = lineno_left - 1 if type == "line" or type == "old" %>
        <% right = lineno_right - 1 if type == "line" or type == "new" %>
        <% if not left_comments[left.to_i].nil? %>
          <% left_comments[left.to_i].each do |c| %>
            <%= render :partial => "shared/comment",
                       :locals => { :comment => c } %>
          <% end %>
        <% elsif not right_comments[right.to_i].nil? %>
          <% right_comments[right.to_i].each do |c| %>
            <%= render :partial => "shared/comment",
                       :locals => { :comment => c } %>
          <% end %>
        <% elsif not both_comments[left.to_i].nil? %>
          <% both_comments[left.to_i].each do |c| %>
            <%= render :partial => "shared/comment",
                       :locals => { :comment => c } %>
          <% end %>
        <% end %>
        <div id="line_comment_<%= diff.id %>_<%= total_line %>"></div>
      </td>
    </tr>
    <% total_line += 1 %>
  <% end %>
</table>
