<% title = "Show Review"
   title += " &gt; " + @changeset.name if not @changeset.nil? %>
<% content_for :page_name, title.html_safe %>

<div id="comment-form" class="hidden">
  <%= render :partial => "shared/comment_form" %>
</div>

<%= modal_dialog "create-changeset-dialog" do %>
  <% if @review_event.changesets.size > 0 %>
    <div class="info"><strong>Note:</strong> Creating a new changeset will 
    reset the status of your review, and all assigned reviewers will be 
    notified.</div>
  <% end %>
  <%= form_for :changeset do |f| %>
    <%= f.label :name, "Name (optional)", :style => "display:block;" %>
    <%= f.text_field :name, :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
    <%= f.hidden_field :review_event_id, :value => @review_event.id %>
  <% end %>
<% end %>

<%= modal_dialog "submit-changeset-dialog" do %>
  Are you sure you wish to submit this revision for review?
  <%= form_for :changeset do |f| %>
    <%= f.hidden_field :submitted, :value => true %>
  <% end %>
<% end %>

<%= modal_dialog "remove-changeset-dialog" do %>
    Are you sure you wish to remove this changeset?
<% end %>

<%= modal_dialog "status-changeset-dialog" %>

<% if not @changeset.nil? %>
  <%= modal_dialog "add-diff-dialog" do %>
    <div class="info">Create a unified diff with the command
    <pre>diff -ru &lt;old&gt; &lt;new&gt;</pre>
    and paste its contents here:</div>
    <%= form_for :diff, :url => diffs_create_path, 
                 :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :changeset_id, :value => @changeset.id %>
      <%= f.label :contents, :value => "Diff" %>
      <%= f.text_area :contents, :rows => 5, 
          :class => "text ui-corner-all ui-widget-content",
          :style => "width:97%" %>
      <div class="info">OR upload a patch file here:</div>
      <%= f.file_field :patch %>
    <% end %>
  <% end %>

  <%= modal_dialog "remove-diff-dialog" do %>
    Are you sure you wish to remove this diff?
  <% end %>
<% end %>

<div class="review">
  <div style="float:right; padding:0.2em 0.2em 0;">
    <% if current_user == @review_event.owner %>
      <%= link_to edit_review_event_path(@review_event), 
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-pencil left"></span>Edit
      <% end %>
    <% elsif @status.nil? and 
       @review_event.reviewers.include?(current_user) and 
       @changeset.submitted %>
      <%= link_to_js "submit_changeset_status('#{@changeset.id}', true);",
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-check left"></span>
        Accept
      <% end %>
      <%= link_to_js "submit_changeset_status('#{@changeset.id}', false);",
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-closethick left"></span>
        Reject
      <% end %>
    <% end %>
  </div>

  <h2>
    (<%= @review_event.id %>) <strong><%= @review_event.name %></strong> 
    <span class="">by 
      <%= user_profile_popup(current_user) %>
    </span>
    <div style="clear:both;"></div>
  </h2>

  <div style="width:50%; display:inline-block; vertical-align:top;">
    <p><strong>Due Date:</strong>&nbsp;&nbsp;
      <%= @review_event.duedate.to_date if not @review_event.duedate.nil? %>
    </p>

    <p><strong>Reviewers:</strong>&nbsp;&nbsp;
    <ul>
    <%= @review_event.reviewers.map do |u| 
          p = user_profile_popup(u)
          "<li>#{p}</li>"
        end.join("").html_safe %>
    </ul>
    </p>

    <p>
      <strong>Notes:</strong>&nbsp;&nbsp;<pre><%= @review_event.notes %></pre>
    </p>
  </div>

  <div style="width:40%; display:inline-block; vertical-align:top;">
    <%= render :partial => "revisions" %>
  </div>
</div>

<% if @changeset.nil? %>
  <div class="notice">
    No changesets yet.  Click &quot;Add new changeset&quot; above to create
    one.
  </div>
<% elsif current_user != @changeset.review_event.owner and 
         not @changeset.submitted %>
  <div class="warn">
    You shouldn't be here...This changeset has not been submitted for 
    review yet! 
  </div>
<% else %>
  <%#= render :partial => "status" %>
  <% if current_user == @changeset.review_event.owner %>
    <% if @changeset.accepted? 
         status = "accepted"
       elsif @changeset.rejected?
         status = "rejected"
       else
         status = "notice"
       end %>
    <div id="changeset_status" class="<%= status %>" 
        style="margin-top: -1em; border-top:none;">
      <% if @changeset.submitted %>
        <% if status == "accepted" %>
          <%= image_tag "accept.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          <strong>Accepted</strong>: Congratulations! This changeset has 
          been accepted by your peers.
        <% elsif status == "rejected" %>
          <%= image_tag "reject.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          <strong>Rejected</strong>: Sorry, but this changeset needs some 
          work before it can be accepted.
        <% else %>
          This revision has been submitted and is awaiting review.
        <% end %>
      <% else %>
        <%= link_to_function "Submit for Review", 
            "submit_changeset('#{@changeset.id}');", 
            :class => "ui-state-default ui-corner-all button right",
            :style => "margin:0 -0.8em 0 0.8em;" %>
        This revision has <strong>not</strong> been submitted for review yet.
        <br />
        Once this revision has been submitted, others will be able to comment
        and approve/reject it.
        <br /><!-- TODO: helper -->
        <strong>Note:</strong>
        You will not be able to modify this revision once it has been submitted.
        <div style="clear:both;"></div>
      <% end %>
    </div>
  <% else %>
    <% if not @status.nil? %>
      <% status = @status.accepted ? "accepted" : "rejected" %>
      <div id="changeset_status" class="<%= status %>"
        style="margin-bottom: 1em; margin-top: -1em; border-top:none;">
        <% if @status.accepted %>
          <%= image_tag "accept.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          <strong>Accepted</strong>: You accepted this changeset.
          <%= link_to_function "Undo", 
              "delete_changeset_status('#{@status.id}');", 
              :class => "ui-state-default ui-corner-all button right",
              :style => "margin:-0.2em 0;" %>
        <% else %>
          <%= image_tag "reject.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          <strong>Rejected</strong>: You rejected this changeset.
          <%= link_to_function "Undo", 
              "delete_changeset_status('#{@status.id}');", 
              :class => "ui-state-default ui-corner-all button right",
              :style => "margin:-0.2em 0;" %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% accepted = @changeset.users_accepted %>
  <% rejected = @changeset.users_rejected %>
  <% show_accepted = (accepted.size > 0 and current_user == @changeset.review_event.owner) %>
  <% show_rejected = (rejected.size > 0) %>
  <% if show_accepted or show_rejected %>
    <div class="notice">
      <% if show_accepted %>
        Reviewers who <strong>accepted</strong> this changeset: 
        <% accepted.map! {|x| "<strong>#{x.full_name}</strong>"} %>
        <%= accepted.join(", ").html_safe %>
        <br />
      <% end %>
      <% if show_rejected %>
        Reviewers who <strong>rejected</strong> this changeset: 
        <% rejected.map! {|x| "<strong>#{x.full_name}</strong>"} %>
        <%= rejected.join(", ").html_safe %>
      <% end %>
    </div>
  <% end %>

  <%#= render :partial => "files" %>
  <a name="files"></a>
  <div class="files">
    <div style="margin-bottom:1em;">
      <strong>Files:</strong>
      <% if not @changeset.submitted %>
        <%= link_to_js "add_new_diff();", :class => "right" do %>
          <span class="ui-icon ui-icon-plus inline-icon"></span>Add New Diff
        <% end %>
      <% else %>
        <a href="<%= changeset_download_path(@changeset) %>" class="right">
          <span class="ui-icon ui-icon-document inline-icon"></span>Download Patch
        </a>
      <% end %>
      <div style="clear:both; margin-bottom:0.5em;"></div>
    </div>

    <ul>
      <% @changeset.diffs.each do |d| %>
        <li><a href="#file_<%= d.id %>">
          <span class="ui-icon ui-icon-document left"></span> 
          <%= d.updated_file %></a>
          <% if not @changeset.submitted %>
            <%= link_to_js "remove_diff('#{d.id}');", :class => "right" do %>
              <span class="ui-icon ui-icon-close inline-icon"></span>Delete
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="text-right view-settings" style="margin-top:1em;">
    View:
    <% if @display_type == "split" %>
      Split |
      <a href="<%= review_event_path(@review_event) %>?display=unified">Unified</a>
    <% elsif @display_type == "unified" %>
      <a href="<%= review_event_path(@review_event) %>?display=split">Split</a> | 
      Unified
    <% end %>
  </div>

  <div id="awesome-bar" class="hidden">
    <div class="contents">
      <div class="left">
        <span class="filename"></span>
      </div>
      <div class="right">
        Comments:
        <%= link_to_function "Previous", "prev_comment(this)", 
            :class => "ui-state-default ui-corner-all button",
            :id => "prev-comment" %>
        <%= link_to_function "Next", "next_comment(this)", 
            :class => "ui-state-default ui-corner-all button",
            :id => "next-comment" %>
      </div>
      <div class="right" style="margin-right:1.5em;">
        Files:
        <%= link_to_function "Previous", "prev_file(this)",
            :class => "ui-state-default ui-corner-all button",
            :id => "prev-file" %>
        <%= link_to "Top", "#files",
            :class => "ui-state-default ui-corner-all button" %>
        <%= link_to_function "Next", "next_file(this)",
            :class => "ui-state-default ui-corner-all button",
            :id =>:"next-file" %>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <%= render :partial => "diff", :collection => @changeset.diffs.includes(:comments), :as => :d %>
<% end %>

