<% content_for :title, "#{@review_event.name} #{@changeset.try(:name)}" %>

<% title = "Show Review"
   title += " &gt; " + @changeset.name if not @changeset.nil? %>
<% content_for :page_name, @review_event.name %>

<div id="comment-form" class="hidden">
  <%= render :partial => "shared/comment_form" %>
</div>

<%= modal_dialog "create-changeset-dialog" do %>
  <% if @review_event.changesets.size > 0 %>
    <div class="info"><strong>Note:</strong> Creating a new changeset will 
    reset the status of your review, and all assigned reviewers will be 
    notified.</div>
  <% end %>
  <%= form_for :changeset do |f| %>
    <% value = "Revision 1"
       if not @changeset.nil? 
        value = "Revision #{@changeset.review_event.changesets.size + 1}"
       end %>
    <%= f.label :name, "Name (optional)", :style => "display:block;" %>
    <%= f.text_field :name, 
        :value => value, 
        :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
    <%= f.hidden_field :review_event_id, :value => @review_event.id %>
  <% end %>
<% end %>

<%= modal_dialog "submit-changeset-dialog" do %>
  Are you sure you wish to submit this revision for review?
  <br /><br />
  Users will be notified about the review, and no further changes will be
  allowed.
  <%= form_for :changeset do |f| %>
    <%= f.hidden_field :submitted, :value => true %>
  <% end %>
<% end %>

<%= modal_dialog "remove-changeset-dialog" do %>
    Are you sure you wish to remove this changeset?
<% end %>

<%= modal_dialog "status-changeset-dialog" %>

<% if not @changeset.nil? %>
  <%= modal_dialog "add-diff-dialog" do %>
    <div class="info">Create a unified diff with the command
    <pre>diff -ru &lt;old&gt; &lt;new&gt;</pre>
    and paste its contents here:</div>
    <%= form_for :diff, :url => diffs_create_path, 
                 :html => {:multipart => true} do |f| %>
      <%= f.hidden_field :changeset_id, :value => @changeset.id %>
      <%= f.label :contents, :value => "Diff" %>
      <%= f.text_area :contents, :rows => 5, 
          :class => "text ui-corner-all ui-widget-content",
          :style => "width:97%" %>
      <div class="info">OR upload a patch file here:</div>
      <%= f.file_field :patch %>
    <% end %>
  <% end %>

  <%= modal_dialog "remove-diff-dialog" do %>
    Are you sure you wish to remove this diff?
  <% end %>
<% end %>

<% if not @changeset.nil? and 
      current_user == @changeset.review_event.owner %>
  <div class="info">
    <% if @changeset.accepted? 
         status = "accepted"
       elsif @changeset.rejected?
         status = "rejected"
       else
         status = "notice"
       end %>
     <div class="<%= status %>"> 
      <% if @changeset.submitted %>
        <% if status == "accepted" %>
          <%= image_tag "accept.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          Ship it!
        <% elsif status == "rejected" %>
          <%= image_tag "reject.png", 
              :style => "vertical-align:middle; margin-right:0.3em" %>
          Don't ship it!  It's not ready yet.
        <% else %>
          This revision has been submitted and is awaiting review.
        <% end %>
      <% else %>
        <%= image_tag "info.png", 
            :style => "vertical-align:middle; margin-right:0.3em" %>
        <%= link_to_function "Submit for Review", 
            "submit_changeset('#{@changeset.id}');", 
            :class => "ui-state-default ui-corner-all button right" %>
        This review is not yet public.
        <div style="clear:both;"></div>
      <% end %>
    </div>
  </div>
<% end %>


<div class="review">
  <div style="float:right; padding:0.2em 0.2em 0;">
    <% if current_user == @review_event.owner %>
      <%= link_to edit_review_event_path(@review_event), 
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-pencil left"></span>Edit
      <% end %>
    <% elsif @status.nil? and 
       @review_event.reviewers.include?(current_user) and 
       @changeset.submitted %>
       <%= link_to_js "submit_changeset_status('#{@changeset.id}', 'Accept', '#{CHANGESET_STATUSES[:accept]}');",
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-check left"></span>
        Accept
      <% end %>
      <%= link_to_js "submit_changeset_status('#{@changeset.id}', 'Reject', '#{CHANGESET_STATUSES[:reject]}');",
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-closethick left"></span>
        Reject
      <% end %>
      <br />
      <%= link_to_js "submit_changeset_status('#{@changeset.id}', 'Request Removal', '#{CHANGESET_STATUSES[:abstain]}', 'Are you sure you wish to request removal from this review?');",
        :class => "right", :style => "margin:0.4em;" do %>
        Request Removal
      <% end %>
    <% end %>
  </div>

  <h1>
    <%= @review_event.name %> 
  </h1>

  <div class="left" style="width:50%; vertical-align:top;">
    <div style="margin:0em 1em 0.6em;">
      <strong>Posted By:</strong>&nbsp;&nbsp;
      <%= user_profile_popup(@review_event.owner, :short_format => true) %>
    </div>

    <% if not @review_event.duedate.nil? %>
      <p><strong>Due Date:</strong>&nbsp;&nbsp;
        <%= @review_event.duedate.to_date %>
      </p>
    <% end %>

    <% if not @review_event.buglink.nil? %>
      <p><strong>Bugs:</strong>&nbsp;&nbsp;
        <% bugs = @review_event.buglink.split(%r{[,\s]+}) %>
        <%= bugs.map do |bug| 
              link_to bug, APP_CONFIG['bug_tracker'].gsub(/\{\{bugid\}\}/, bug) 
            end.join(", ").html_safe %>
      </p>
    <% end %>

    <% accepted = rejected = abstained = [] %>
    <% accepted = @changeset.users_accepted if @changeset %>
    <% rejected = @changeset.users_rejected if @changeset %>
    <% abstained = @changeset.users_abstained if @changeset %>
    <div style="margin: 0em 1em 0.6em;"><strong>Reviewers:</strong>&nbsp;&nbsp;
    <%= @review_event.reviewers.map do |u| 
          user_profile_popup(u, :short_format => true)
        end.join("&nbsp;").html_safe %>
    </div>
  </div>

  <div class="right" style="width:49%; vertical-align:top;">
    <%= render :partial => "revisions" %>
  </div>

  <div class="left" style="clear:left;">
    <% if not @review_event.notes.empty? %>
      <p>
        <strong>Notes:</strong>&nbsp;&nbsp;<pre><%= @review_event.notes %></pre>
      </p>
    <% end %>
  </div>

  <div style="clear:both;"></div>
</div>

<% if @changeset.nil? %>
  <div class="notice">
    <%= image_tag "info.png", 
        :style => "vertical-align:middle; margin-right:0.3em" %>
    No changesets yet.  Click &quot;Add new changeset&quot; above to create
    one.
  </div>
<% elsif current_user != @changeset.review_event.owner and 
         not @changeset.submitted %>
  <div class="warn">
    You shouldn't be here...This changeset has not been submitted for 
    review yet! 
  </div>
<% else %>

  <div class="statuses">
    <ul>
      <% if not @status.nil? %>
        <li>
          <% status = "accepted" if @status.accepted? %>
          <% status = "rejected" if @status.rejected? %>
          <% status = "notice" if @status.abstained? %>
          <div id="changeset_status">
            <% if @status.accepted? %>
              <%= image_tag "accept.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
              You accepted this changeset.
              <%= link_to_function "Undo", 
                  "delete_changeset_status('#{@status.id}');", 
                  :class => "ui-state-default ui-corner-all button right",
                  :style => "margin:-0.2em 0;" %>
            <% elsif @status.rejected? %>
              <%= image_tag "reject.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
              You rejected this changeset.
              <%= link_to_function "Undo", 
                  "delete_changeset_status('#{@status.id}');", 
                  :class => "ui-state-default ui-corner-all button right",
                  :style => "margin:-0.2em 0;" %>
            <% elsif @status.abstained? %>
              <%= image_tag "info.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
              You requested to be removed from this review.
              <%= link_to_function "Undo", 
                  "delete_changeset_status('#{@status.id}');", 
                  :class => "ui-state-default ui-corner-all button right",
                  :style => "margin:-0.2em 0;" %>
            <% else %>
              <strong>Unknown status:</strong> Contact the administrator, quick!
            <% end %>
          </div>
        </li>
      <% end %>

      <% @changeset.statuses.each do |s| %>
        <% break if s.user == current_user %>
        <li>
            <% if s.status == CHANGESET_STATUSES[:accept] %>
              <%= image_tag "accept.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
            <% elsif s.status == CHANGESET_STATUSES[:reject] %>
              <%= image_tag "reject.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
            <% elsif s.status == CHANGESET_STATUSES[:abstain] %>
              <%= image_tag "info.png", 
                  :style => "vertical-align:middle; margin-right:0.3em" %>
            <% end %>

            <%= user_profile_popup(s.user, :short_format => true) %>:

            <% if s.status == CHANGESET_STATUSES[:accept] %>
              Ship It!
            <% elsif s.status == CHANGESET_STATUSES[:reject] %>
              Don't ship it!
            <% elsif s.status == CHANGESET_STATUSES[:abstain] %>
              Abstained!
            <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <a name="files"></a>
  <div class="files">
    <div style="margin-bottom:1em;">
      <strong>Files:</strong>
      <% if not @changeset.submitted %>
        <% css = "tooltip-below showonload" if @changeset.diffs.length == 0 %>
        <%= link_to_js "add_new_diff();", :class => "right #{css}", :title => "Click here to add a new unified diff or upload a patch file." do %>
          <span class="ui-icon ui-icon-plus inline-icon"></span>Add New Diff
        <% end %>
      <% else %>
        <a href="<%= changeset_download_path(@changeset) %>" class="right tooltip" title="Click to download a patch file containing all the diffs from this changeset.">
          <span class="ui-icon ui-icon-document inline-icon"></span>Download Patch
        </a>
      <% end %>
      <div style="clear:both; margin-bottom:0.5em;"></div>
    </div>

    <ul>
      <% @changeset.diffs.each do |d| %>
        <li><a href="#file_<%= d.id %>">
          <span class="ui-icon ui-icon-document left"></span> 
          <%= d.updated_file %></a>
          <% if not @changeset.submitted %>
            <%= link_to_js "remove_diff('#{d.id}');", :class => "right" do %>
              <span class="ui-icon ui-icon-close inline-icon"></span>Delete
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="text-right view-settings" style="margin-top:1em;">
    View:
    <% if @display_type == "split" %>
      Split |
      <a href="<%= review_event_path(@review_event) %>?display=unified">Unified</a>
    <% elsif @display_type == "unified" %>
      <a href="<%= review_event_path(@review_event) %>?display=split">Split</a> | 
      Unified
    <% end %>
  </div>

  <div id="awesome-bar" class="hidden">
    <div class="contents">
      <div class="left">
        <span class="filename"></span>
      </div>
      <div class="right">
        Comments:
        <%= link_to_js "prev_comment(this)", 
            :class => "ui-state-default ui-corner-all button",
            :id => "prev-comment" do %>
          <span class="ui-icon ui-icon-triangle-1-w"></span>
        <% end %>
        <%= link_to_js "next_comment(this)", 
            :class => "ui-state-default ui-corner-all button",
            :id => "next-comment" do %>
          <span class="ui-icon ui-icon-triangle-1-e"></span>
        <% end %>
      </div>
      <div class="right" style="margin-right:1.5em;">
        Files:
        <%= link_to_js "prev_file(this)",
            :class => "ui-state-default ui-corner-all button",
            :id => "prev-file" do %>
          <span class="ui-icon ui-icon-triangle-1-w"></span>
        <% end %>
        <%= link_to "#files",
            :class => "ui-state-default ui-corner-all button" do %>
          <span class="ui-icon ui-icon-triangle-1-n"></span>
        <% end %>
        <%= link_to_js "next_file(this)",
            :class => "ui-state-default ui-corner-all button",
            :id =>:"next-file" do %>
          <span class="ui-icon ui-icon-triangle-1-e"></span>
        <% end %>
      </div>
    </div>
    <div class="shadow"></div>
  </div>
  <%= render :partial => "diff", :collection => @changeset.diffs.includes(:comments), :as => :d %>
<% end %>

