<% title = "Show Review"
   title += " &gt; " + @changeset.name if not @changeset.nil? %>
<% content_for :page_name, title.html_safe %>

<div id="create-changeset-dialog" class="hidden">
  <% if @review_event.changesets.size > 0 %>
    <div class="info"><strong>Note:</strong> Creating a new changeset will 
    reset the status of your review, and all assigned reviewers will be 
    notified.</div>
  <% end %>
  <%= form_for :changeset do |f| %>
    <%= f.label :name, :style => "display:block;" %>
    <%= f.text_field :name, :style => "width:20em;", 
        :class => "text ui-corner-all ui-widget-content" %>
    <%= f.hidden_field :review_event_id, :value => @review_event.id %>
  <% end %>
</div>

<div id="submit-changeset-dialog" class="hidden">
  Are you sure you wish to submit this revision for review?
  <%= form_for :changeset do |f| %>
    <%= f.hidden_field :submitted, :value => true %>
  <% end %>
</div>

<div class="review">
  <div style="float:right; padding:0.2em 0.2em 0;">
    <% if current_user == @review_event.owner %>
      <%= link_to edit_review_event_path(@review_event), 
          :class => "ui-state-default ui-corner-all button" do %>
        <span class="ui-icon ui-icon-pencil left"></span>Edit
      <% end %>
    <% else %>
      <a href="#" class="ui-state-default ui-corner-all button">
        <span class="ui-icon ui-icon-check left"></span>
        Accept
      </a>
      <a href="#" class="ui-state-default ui-corner-all button">
        <span class="ui-icon ui-icon-closethick left"></span>
        Reject
      </a>
    <% end %>
  </div>

  <h2>
    <strong><%= @review_event.name %></strong> 
    <span class="author">by <%= @review_event.owner.username %></span>
    <div style="clear:both;"></div>
  </h2>

  <div style="width:50%; display:inline-block; vertical-align:top;">
    <p><strong>Reviewers:</strong>&nbsp;&nbsp;
      <%= @review_event.reviewers.map { |u| u.username }.join(", ") %>
    </p>

    <p>
      <strong>Notes:</strong>&nbsp;&nbsp;<%= @review_event.notes %>
    </p>
  </div>

  <div style="width:40%; display:inline-block; vertical-align:top;">
    <%= render :partial => "revisions" %>
  </div>
</div>

<% if @changeset.nil? %>
  No changesets
<% else %>
  <%= render :partial => "status" %>
  <%= render :partial => "files" %>
  <%= render :partial => "diffs" %>
<% end %>

