<% content_for :active_page, "my_groups" %>
<% content_for :title, "My Groups" %>
<% content_for :page_js do %>
  <%= javascript_include_tag "groups.js" %>
<% end %>

<%= modal_dialog "remove-group-dialog" do |format| %>
  <% format.for_title { "Remove Group" } %>
  <% format.for_body { "Remove this group?" } %>
  <% format.for_footer do %>
    <%= link_to "Remove", "#", 
      :onclick => "remove_group_modal(); return false;", 
      :"data-action" => "submit", 
      :class => "btn btn-primary" %>
    <%= link_to "Cancel", "#", :"data-dismiss" => "modal", :class => "btn" %>
  <% end %>
<% end %>

<h1>My Groups 
  <%= link_to new_group_path, :class => "btn pull-right" do %>
      <i class="icon-plus"></i>New Group
  <% end %>
</h1>

<div class="form-box">
  <% if @groups.size == 0 %>
    <div class="alert alert-info">
      <%= image_tag "info.png", :style => "vertical-align:middle; margin-right:0.3em" %>
      Groups are an easy way to add
      a list of users to a review.  Click "New Group" above to get started.
    </div>
  <% end %>
  <% if @groups.size > 0 %>
    <table id="reviewer-table" style="width:100%;">
      <tr>
        <th>Name</th>
        <th>Members</th>
        <th>Action</th>
      </tr>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, edit_group_path(group) %></td>
          <td><%= group.members.map {|m| m.username }.join(', ') %></td>
          <td>
            <%= link_to_js "remove_group('#{group.id}')" do %>
              <i class="icon-remove"></i>Remove
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>

