<% content_for :title, "Reset Password" %>
<div style="text-align:center;">
  <div style="display:inline-block; text-align:left;">
    <div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name)) do |f| %>
        <%= f.error_messages %>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.submit "Send me reset password instructions", :class => "btn" %>
        </div>
      <% end %>
    </div>

    <div>
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>
