<% level = 0 if level.nil? %>
<a name="<%= comment.id %>"></a>
<div class="comment" id="comment_<%= comment.id %>">
  <div>
    <div class="right" style="margin:0 0 0.5em 1em;">
      <!--<span class="author"><%= comment.user.full_name %></span> -->
      <%= user_profile_popup(comment.user, :short_format => true, 
                             :profile_class => "profile-right") %>
      <div class="comment-actions hidden">
        <% if comment.user != current_user %>
          <%= add_comment_button comment, "#reply_#{comment.id}" do %>
            <span class="ui-icon ui-icon-arrowreturnthick-1-w inline-icon"></span>Reply
          <% end %>&nbsp;
        <% elsif comment.comments.size == 0 %>
          <a href="#" onclick="delete_comment('<%= comment.id %>'); return false;">
            <span class="ui-icon ui-icon-close inline-icon"></span>Delete</a> 
        <% else %>
          <span class="ui-icon ui-icon-locked inline-icon"></span>Locked
        <% end %>
      </div>
    </div>
    <div class="comment-text">
      <% if level == 0 %>
        <span class="ui-icon ui-icon-carat-1-n inline-icon"></span>
      <% else %>
        <span class="ui-icon ui-icon-arrowreturnthick-1-w inline-icon"></span>
      <% end %>
      <%= comment.html_format %>
    </div>
  </div> 
</div>

<div id="reply_<%= comment.id %>"></div>

<% comment.comments.each do |c| %>
  <%= render :partial => "shared/comment", 
      :locals => { :comment => c, :level => level + 1 } %>
<% end %>

