<div class="comment-box hidden">
  <%= form_for(:comment) do |f| %>
    <div class="field">
      <% label = commentable.class == Comment ? "Reply" : "Comment" %>
      <%= f.label :content, label %>
      <%= f.hidden_field :commentable_id, :value => commentable.id %>
      <%= f.hidden_field :commentable_type, 
          :value => commentable.class.name %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :leftline, :value => leftline %>
      <%= f.hidden_field :rightline, :value => rightline %>
      <%= f.text_area :content, :rows => 2, :style => "width:99%;",
          :class => "text ui-corner-all ui-widget-content"  %>
    </div>
    <div class="field text-right">
      <%= link_to_function "Preview", "preview_comment(this);",
          :class => "ui-corner-all ui-state-default button left" %>
      <%= link_to_js "add_comment_code(this);",
          :class => "ui-corner-all ui-state-default button left",
          :style => "margin-left:0.2em;" do %>
        <span class="ui-icon ui-icon-script left"></span>Code
      <% end %>
      <%= link_to_function "Bold", "add_comment_bold(this);",
          :class => "ui-corner-all ui-state-default button left",
          :style => "margin-left:0.2em;" %>
      <%= link_to_function "Save Comment", "submit_comment(this);",
          :class => "ui-corner-all ui-state-default button" %>
      <%= link_to_function "Close", "close_comment_form(this);", 
          :class => "ui-corner-all ui-state-default button" %>
    </div>
  <% end %>
</div>

