<% level = 0 if level.nil? %>
<div class="comment comment-box" style="margin-left:<%= level * 10 + 10 %>px;">
  <div class="topbar">
    <%= user_profile_popup(current_user) %>
  </div>

  <div style="margin:10px;">
    <%= form_for(:comment) do |f| %>
      <div class="field row-fluid">
        <%= f.hidden_field :commentable_id %>
        <%= f.hidden_field :commentable_type %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :leftline %>
        <%= f.hidden_field :rightline %>
        <%= f.text_area :content, :rows => 2, :style => "width:99%"  %>
      </div>
      <div class="row-fluid">
        <div class="btn-group pull-left">
          <%= link_to_function "Preview", "preview_comment(this);",
              :class => "btn btn-small" %>
          <%= link_to_function "Code", "add_comment_code(this);",
              :class => "btn btn-small" %>
          <%= link_to_function "Bold", "add_comment_bold(this);",
              :class => "btn btn-small" %>
        </div>
        <div class="btn-group pull-right">
          <%= link_to_function "Save", "submit_comment(this);",
              :class => "btn btn-small btn-primary" %>
          <%= link_to_function "Close", "close_comment_form(this);", 
              :class => "btn btn-small" %>
        </div>
      </div>
    <% end %>
  </div>

</div>

