<% level = 0 if level.nil? %>
<% 
  if not defined? allow_delete
    allow_delete = true
  end
  if not defined? allow_reply 
    allow_reply = true 
  end 
%>
<a name="<%= comment.id %>"></a>
<% margin = (level * 10) + 10 %>

<% if ! comment.is_deleted? || (comment.is_deleted? && comment.has_replies?) %>
  <div class="comment" id="comment_<%= comment.id %>" style="margin-left:<%= margin %>px;" data-comment-type="<%= comment.commentable.class %>">
    <div class="topbar">
      <% if comment.is_deleted? || comment.user.nil? %>
        [Deleted]
      <% else %>
        <%= user_profile_popup(comment.user) %>
      <% end %>
      <span class="label label-success"></span>
      <span class="label label-important"></span>
      <span class="label label-info"></span>
      <span class="comment-date">
        <%= comment.updated_at.to_formatted_s(:short) %>
      </span>
      <div class="pull-right">
        <div class="comment-actions">
          <% if allow_reply %>
            <%= add_comment_button comment, "#reply_#{comment.id}" do %>
              <i class="icon-share-alt"></i>Reply<% end %>
          <% end %>
          <% if allow_delete and comment.user == current_user %>
              <a onclick="delete_comment(this, '<%= comment.id %>'); return false;" style="margin-left:10px;">
                <i class="icon-remove"></i>Delete
              </a> 
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-text"><% if ! comment.is_deleted? %><%= auto_link(comment.html_format, :all, :target => "_blank") %><% else %>[Deleted]<% end %>
    </div>
  </div>

  <div id="reply_<%= comment.id %>"></div>
<% end %>

<% comment.comments.each do |c| %>
  <%= render :partial => "shared/comment", 
      :locals => { :comment => c, :level => level + 1 } %>
<% end %>

