<% level = 0 if level.nil? %>
<% 
  if not defined? allow_delete
    allow_delete = true
  end
  if not defined? allow_reply 
    allow_reply = true 
  end 
%>
<a name="<%= comment.id %>"></a>
<% margin = (level * 10) + 10 %>
<div class="comment" id="comment_<%= comment.id %>" style="margin-left:<%= margin %>px;" data-comment-type="<%= comment.commentable.class %>">
  <div class="topbar">
    <% if comment.is_deleted? %>
      [Deleted]
    <% else %>
      <%= user_profile_popup(comment.user) %>
    <% end %>
    <span class="label label-success"></span>
    <span class="label label-important"></span>
    <span class="label label-info"></span>
    <div class="pull-right">
      <div class="comment-actions">
        <% if allow_reply and comment.user != current_user %>
          <%= add_comment_button comment, "#reply_#{comment.id}" do %>
            <i class="icon-share-alt"></i>Reply<% end %>
        <% elsif allow_delete and comment.user == current_user %>
          <div>
            <a onclick="delete_comment(this, '<%= comment.id %>'); return false;">
              <i class="icon-remove"></i>Delete
            </a> 
          </div>
        <% elsif allow_delete and allow_reply %>
          <%# unreachable? %>
          <span class="ui-icon ui-icon-locked inline-icon"></span>Locked
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-text"><%= auto_link(comment.html_format, :all, :target => "_blank") %></div>
</div>

<div id="reply_<%= comment.id %>"></div>

<% comment.comments.each do |c| %>
  <%= render :partial => "shared/comment", 
      :locals => { :comment => c, :level => level + 1 } %>
<% end %>

