<table class="table table-striped">
  <% requests = 0 %>
  <tr>
    <th>Date</th><th>Name</th><th>Due Date</th><th>Posted By</th><th>My Status</th><th>Review Status</th>
  </tr>
  <% reviews.each do |r| %>
    <tr>
      
    <% extra = "label-warning" if not r.duedate.nil? and (r.duedate.to_date - 2).past? %>
    <% extra = "label-important" if not r.duedate.nil? and r.duedate.to_date.past? %>
    <% status = r.status_for(current_user) %>
    <td> <%# Date %>
      <em><%= r.created_at.to_date %></em>
    </td>
    <td> <%# Name %>
      <%= link_to "#{r.name}", review_event_path(r.id) %>
    </td>
    <td> <%# Due Date %>
      <%= r.duedate.to_date if not r.duedate.nil? %>
    </td>
    <td> <%# Posted By %>
      <%= r.owner.username %>
    </td>
    <td> <%# My Status %>
      <% if not status.nil? and status.rejected? %>
        <span class="label label-important">Rejected</span>
      <% elsif not status.nil? and status.accepted? %>
        <span class="label label-success">Accepted</span>
      <% elsif not status.nil? and status.abstained? %>
        <span class="label label-info">Requested Removal</span>
      <% elsif not r.duedate.nil? %>
        <% countdown = r.duedate.to_date - DateTime.now.to_date %>
        <span class="label <%= extra %>">
          Due <%= "in" if countdown > 0 %> 
          <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
          <%= "ago" if countdown < 0 %>
        </span>
      <% end %>
    </td>
    <td> <%# Review Status %>
      <% if r.archived? %>
        <span class="label">Archived</span>
      <% elsif r.changesets.last_submitted.rejected? %>
        <span class="label label-important">Rejected</span>
      <% elsif r.changesets.last_submitted.accepted? %>
        <span class="label label-success">Accepted</span>
      <% else %>
        <span class="label">In Progress</span>
      <% end %>
    </td>
    </tr>
  <% end %>
  <% reset_cycle %>
  <% if current_user.review_requests.size == 0 %>
    <tr><td colspan="6"><em>No one has requested you review their code yet.</em></td></tr>
  <% elsif reviews.size == 0 %>
    <tr><td colspan="6"><em>No results found.</em></td>
  <% end %>
</table>
<%= paginate reviews, :remote => true %>

