<table>
  <% requests = 0 %>
  <tr>
    <th>Date</th><th>Name</th><th>Due Date</th><th>Posted By</th><th>Status</th>
  </tr>
  <% @inbox.each do |r| %>
    <tr class="review-event <%= cycle("even", "odd") %>">
      
    <% extra = "neardue" if not r.duedate.nil? and (r.duedate.to_date - 2).past? %>
    <% extra = "overdue" if not r.duedate.nil? and r.duedate.to_date.past? %>
    <% status = r.status_for(current_user) %>
    <td>
      <em style="font-size:0.9em;"><%= r.updated_at.to_date %></em>
    </td>
    <td>
      <%= link_to "#{r.name}", review_event_path(r.id) %>
    </td>
    <td>
      <span class="<%= extra if status.nil? %>"><%= r.duedate.to_date if not r.duedate.nil? %></span>
    </td>
    <td>
      <%= user_profile_popup(r.owner, :short_format => true) %>
    </td>
    <td>
       <% if not status.nil? and status.rejected? %>
        <span class="rejected">Rejected</span>
      <% elsif not status.nil? and status.accepted? %>
        <span class="accepted">Accepted</span>
      <% elsif not status.nil? and status.abstained? %>
        <span>Requested Removal</span>
      <% elsif not r.duedate.nil? %>
        <% countdown = r.duedate.to_date - DateTime.now.to_date %>
        <span class="<%= extra %>">
          Due <%= "in" if countdown > 0 %> 
          <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
          <%= "ago" if countdown < 0 %>
        </span>
      <% end %>
    </td>
    </tr>
  <% end %>
  <% reset_cycle %>
  <% if current_user.review_requests.size == 0 %>
    <tr><td colspan="4"><em>No one has requested you review their code yet.</em></td></tr>
  <% elsif @inbox.size == 0 %>
    <tr><td colspan="4"><em>No results found.</em></td>
  <% end %>
</table>
<%= paginate @inbox, :remote => true %>

