<table>
  <tr>
    <th>Date</th><th>Name</th><th>Due Date</th><th>Status</th><th>Action</th>
  </tr>
  <% @outbox.each do |r| %>
    <tr class="review-event <%= cycle("even", "odd") %>">
    <% lastchset = r.changesets.last %>
    <td>
      <em style="font-size:0.9em;"><%= r.updated_at.to_date %></em>
    </td>
    <td>
        <%= link_to "#{r.name}", review_event_path(r.id) %>
    </td>
    <td>
      <% if not r.duedate.nil? %>
        <% if not lastchset.nil? and not lastchset.is_completed? %>
          <% extra = "neardue" if (r.duedate.to_date - 2).past? %>
          <% extra = "overdue" if r.duedate.to_date.past? %>
        <% end %>
        <span class="<%= extra %>"><%= r.duedate.to_date %></span>
      <% end %>
    </td>
    <td>
      <div style="font-size:0.9em">
        <% if lastchset.nil? or not lastchset.submitted %>
          <span class="not-submitted">Not Submitted</span>
        <% elsif lastchset.rejected? %>
          <span class="rejected">Rejected</span>
        <% elsif lastchset.accepted? %>
          <span class="accepted">Accepted</span>
        <% end %>

        <% if not lastchset.nil? and lastchset.submitted %>
          <% if not lastchset.is_completed? %>
            <!--<span class="ui-corner-all badge tooltip" title="Number of reviewers accepted/total"><%= r.accepted_total %>/<%= r.reviewers_total %> accepted</span>-->
            <div class="graph">
              <div class="bar" style="width:<%= (r.accepted_total.to_f / r.reviewers_total.to_f * 100.0).to_i if r.reviewers_total > 0 %>%"></div>
              <div class="label"><%= r.accepted_total %>/<%= r.reviewers_total %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </td>
    <td>
      <%= link_to_js "remove_review_event(this, '#{r.id}');" do %>
        <span class="ui-icon ui-icon-close left"></span>
      <% end %>
      <% if not lastchset.nil? and lastchset.users_abstained.length > 0 %> 
        <span class="ui-corner-all badge notice tooltip showonload right" title="A reviewer has requested to be removed from this review.">
          <span class="ui-icon ui-icon-notice inline-icon"></span>
        </span>
      <% end %>
    </td>
  </tr>

  <% end %>
  <% reset_cycle %>
  <% if current_user.reviews_owned.size == 0 %>
    <!-- TODO check this... -->
    <tr><td colspan="5"><em>You haven't submitted any code for review yet!
     Click the &quot;New Review&quot; button above to create a new review event.
       </em></td></tr>
  <% end %>
</table>
<%= paginate @outbox, :remote => true %>

