<table class="table table-striped">
  <tr>
    <th>Date</th><th>Name</th><th>Due Date</th><th>Status</th><th>Action</th>
  </tr>
  <% reviews.each do |r| %>
    <tr>
    <% lastchset = r.changesets.last %>
    <td>
      <em><%= r.updated_at.to_date %></em>
    </td>
    <td>
        <%= link_to "#{r.name}", review_event_path(r.id) %>
    </td>
    <td>
      <% if not r.duedate.nil? %>
        <% extra = "label-warning" if (r.duedate.to_date - 2).past? %>
        <% extra = "label-important" if r.duedate.to_date.past? %>
        <% extra = "" if not lastchset.nil? and lastchset.is_completed? %>
        <%= r.duedate.to_date %>
      <% end %>
    </td>
    <td>
      <div>
        <% if lastchset.nil? or not lastchset.submitted %>
          <span class="label label-info">Not Submitted</span>
        <% elsif lastchset.rejected? %>
          <span class="label label-important">Rejected</span>
        <% elsif lastchset.accepted? %>
          <span class="label label-success">Accepted</span>
        <% end %>

        <% if not lastchset.nil? and lastchset.submitted %>
          <% if not lastchset.is_completed? %>
            <div class="progress">
              <% users = r.required_total - r.waiting_for.size %>
              <div class="bar" style="width:<%= (users.to_f / r.required_total.to_f * 100.0).to_i if r.required_total > 0 %>%">
                <% if users > 0 %>
                  <span><%= users %>/<%= r.required_total %></span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </td>
    <td>
      <%= link_to_js "remove_review_event(this, '#{r.id}');" do %>
        <i class="icon-remove"></i>Remove
      <% end %>
    </td>
  </tr>

  <% end %>

  <% if current_user.reviews_owned.size == 0 %>
    <tr><td colspan="5"><em>You haven't submitted any code for review yet!
     Click the &quot;New Review&quot; button above to create a new review event.
       </em></td></tr>
  <% elsif reviews.size == 0 %>
    <tr><td colspan="5"><em>No results found.</em></td>
  <% end %>
</table>
<%= paginate reviews, :remote => true %>

