<% content_for :title, "Dashboard" %>
<% content_for :page_js do %>
  <%= javascript_include_tag "dashboard.js" %>
<% end %>

<%= modal_dialog "remove-review-dialog" do |format| %>
  <% format.for_title { "Archive Review" } %>
  <% format.for_body { "Archive this review event?" } %>
  <% format.for_footer do %>
    <%= link_to "Archive", "#", 
      :onclick => "remove_review_event_modal(); return false;", 
      :"data-action" => "submit", 
      :class => "btn btn-primary" %>
    <%= link_to "Cancel", "#", :"data-dismiss" => "modal", :class => "btn" %>
  <% end %>
<% end %>

<%# Notices/Info on login %>
<% if current_user.sign_in_count == 1 %>
  <div class="alert alert-info">
    <a class="close" data-dismiss="alert">&times;</a>
    <h4 class="alert-heading">Thanks for registering!</h4>  
    Why not <%= link_to "update your profile", profile_path %> 
    with your relevant information?
  </div>
<% end %>

<% if current_user.profile.nil? && current_user.sign_in_count > 1 %>
  <div class="alert alert-info">
    <h4><%= link_to "Create a Profile", profile_path %></h4>
    Profiles are now active! Click <%= link_to "here", profile_path %>
    to update your information.
    Profiles can be editted at any time by clicking on 
    "<%= current_user.username %>'s Account" in the upper right-hand corner.
  </div>
<% end %>

<div class="row-fluid">
  <h2>My Dashboard</h2>
  <br />
</div>
<div id="dashboard" class="row-fluid rounded-border">
  <div id="dashboard-left">
    <ul class="nav nav-list">
      <li class="nav-header">Inbox</li>
      <li>
        <%= link_to dashboard_inbox_path, :remote => true, :class => "filter", 
          :"data-type" => "html", :"data-filter" => "inbox" do %>
            Recent <span class="size pull-right"><%= "#{@inbox_count}" if @inbox_count > 0 %></span>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_all_inbox_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "all_inbox" do %>
            All <span class="size pull-right"><%= "#{@all_inbox_count}" if @all_inbox_count > 0 %></span>
        <% end %>
      </li>

      <li>
      <%= link_to dashboard_due_soon_path, :remote => true, 
        :class => "filter", :"data-type" => "html", 
        :"data-filter" => "due_soon" do %>
          Due Soon <span class="size pull-right"><%= "#{@due_soon_count}" if @due_soon_count > 0 %></span>
      <% end %>
      </li>
      <li>
      <%= link_to dashboard_late_path, :remote => true, 
        :class => "filter", :"data-type" => "html", 
        :"data-filter" => "late" do %>
          Late <span class="size pull-right"><%= "#{@late_count}" if @late_count > 0 %></span>
      <% end %>
      </li>

      <li class="nav-header">Outbox</li>
      <li>
        <%= link_to dashboard_outbox_path, :remote => true, :class => "filter", 
          :"data-type" => "html", :"data-filter" => "outbox" do %>
            Recent <span class="size pull-right"><%= "#{@outbox_count}" if @outbox_count > 0 %></span>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_all_outbox_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "all_outbox" do %>
            All <span class="size pull-right"><%= "#{@all_outbox_count}" if @all_outbox_count > 0 %></span>
        <% end %>
      </li>

      <li>
        <%= link_to dashboard_drafts_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "drafts" do %>
            Drafts <span class="size pull-right"><%= "#{@drafts_count}" if @drafts_count > 0 %></span>
        <% end %>
      </li>
      <li>
        <%= link_to dashboard_accepted_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "accepted" do %>
            Accepted <span class="size pull-right"><%= "#{@accepted_count}" if @accepted_count > 0 %></span>
          <% end %>
      </li>
      <li>
        <%= link_to dashboard_rejected_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "rejected" do %>
            Rejected <span class="size pull-right"><%= "#{@rejected_count}" if @rejected_count > 0 %></span>
          <% end %>
      </li>

      <li class="divider"></li>
      <li>
        <%= link_to dashboard_rejected_path, :remote => true, 
          :class => "filter", :"data-type" => "html", 
          :"data-filter" => "archived" do %>
            Archived <span class="size pull-right"><%= "#{@archived_count}" if @archived_count > 0 %></span>
          <% end %>
      </li>
    </ul>
  </div>
  <div id="dashboard-right">
    <div id="dashboard-search">
      <div>
        <form class="form-search" id="search-form">
          <button id="refresh-btn" class="btn">
            <i class="icon-refresh"></i>
          </button>
          <input type="text" id="search-txt" class="search-query" />
          <button id="search-btn" class="btn">Search</button>
          <button id="clear-search-btn" class="btn">Clear</button>
          <%= link_to new_review_event_path, :class => "btn pull-right" do %>
            <i class="icon-plus"></i>New Review 
          <% end %>
        </form>
      </div>
    </div>
    <div class="clearfix" style="position:relative;">
      <div id="dashboard-right-loading">
        <%= image_tag("ajax-loader.gif") %>
      </div>
      <div id="dashboard-right-contents"></div>
    </div>
  </div>
</div>

<% cache('recent_activity') do %>
<br />
<% recent_activity = all_recent(1.week.ago, 10) %>
<div class="row-fluid">
  <h2>Recent Activity</h2>
  <br />
</div>
<ul id="recent_activity">
  <% if recent_activity.size == 0 %>
    <li><em>No recent activity.</em></li>
  <% else %>
    <% recent_activity.each do |a| %>
      <% if false %>
        <% if a.is_a?(Comment) %>
          <% next if a.get_review_event().nil? %>
        <% elsif a.is_a?(Changeset) %>
          <% next if a.review_event.nil? %>
        <% end %>
      <% end %>
      <li class="ui-corner-all review-event">
        <span class="ui-icon ui-icon-carat-1-e inline-icon" 
              style="margin-right:0.3em"></span>
        <em style="margin-right:1em;"><%= a.updated_at.to_s :short %></em>
        <% if a.is_a?(Comment) %>
          <% changeset = a.get_changeset %>
          <% event = changeset.review_event %>
          <% owner = event.owner %>
          <% type = "Comment" %>
          <% type = "Reply" if a.commentable.class == Comment %>
          <%= link_to type, comment_path(a) %> from 
          <%= a.user.username %>
          for <%= link_to "#{event.name}", review_event_path(event) %>
          changeset 
          <%= link_to "#{changeset.name}", changeset_path(changeset) %>
        <% elsif a.is_a?(Changeset) %>
          <%= link_to "Changeset", changeset_path(a) %> from 
          <%= a.review_event.owner.username %>
          for <%= link_to "#{a.review_event.name}", review_event_path(a.review_event) %>
        <% else %>
          Unknown activity for <%= a.class %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
<br />
<% end # cache %>

<script type="text/javascript">
  setup_dashboard();
</script>
