<% content_for :title, "Home" %>

<%= modal_dialog "remove-review-dialog" do %>
  Remove this review event?
<% end %>

<% if current_user.sign_in_count == 1 %>
  <div class="info">
    <!--<a href="#" class="button ui-corner-all ui-state-default" 
      style="float:right; margin-left:1em;">Hide</a>-->
    <span style="font-size:1.5em;">Getting Started is Easy</span>.<br />
    <ul style="margin-left:2em;">
      <!--<li style="list-style:circle;">Try out this <a href="#">tutorial</a> 
        that will guide you through submitting your first changeset for 
        others to review.
      </li>
      <li style="list-style:circle;">To get the most out of using 
        <strong>Review</strong>, 
        <a href="#">download</a> the accompanying command line utility that 
        will help you submit changesets for others to review.  You can also
        submit changesets directly through this website by clicking the
        Add button next to <em>My Reviews</em> below to create a new
        review request.
        </li> -->
      <li style="list-style:circle;">First, <%= link_to "update your profile", profile_path %> with your relevant information.</li>
    </ul>
  </div>

<% end %>

<% if current_user.profile.nil? and current_user.sign_in_count > 1 %>
  <div class="info">
    <span class="ui-icon ui-icon-info inline-icon"></span>
    Profiles are now active! Click <%= link_to "here", profile_path %>
    to update your information.
    Profiles can be editted at any time by clicking on your username in the
    upper left-hand corner.
  </div>
<% end %>

<div class="ui-widget box">
  <h1>My Review Requests</h1>

  <% if current_user.sign_in_count == 1 and 
        @current_requests.size == 0 %>
    <div style="font-size:0.9em;">
      <span class="ui-icon ui-icon-info" style="float:left; margin-right:0.3em;"></span>
      <strong>You don't have any review requests yet</strong>... 
      <br />
      This is where you will see review requests from other users when 
      they ask you to take a look at their code. 
    </div>

    <div class="info" style="font-size:0.9em;">
      <p style="font-size:1.2em;">Reviewing other's code:</p>
      <ul style="margin-left:2em;">
        <li style="list-style:circle;">Click on the review event(s) that appear 
        here.</li>
        <li style="list-style:circle;">Look over the code and make any 
        comments/suggestions necessary (remember to play nice).</li>
        <li style="list-style:circle;">Click &quot;Accept&quot; or 
        &quot;Reject&quot; at the top of the review to submit your 
        approval/disapproval.</li>
      </ul>
    </div>
  <% else %>
    <ul>
      <% requests = 0 %>
      <% @current_requests.each do |r| %>
        <% extra = "neardue" if not r.duedate.nil? and (r.duedate.to_date - 2).past? %>
        <% extra = "overdue" if not r.duedate.nil? and r.duedate.to_date.past? %>
        <% accepted = r.status_for(current_user) %>
        <li class="review-event <%= cycle("even", "odd") %>">
          <span class="ui-icon ui-icon-carat-1-e inline-icon" 
                style="margin-right:0.3em"></span>
          <em style="font-size:0.9em;margin-right:1em;"><%= r.updated_at.to_date %></em>
          <%= link_to "#{r.name}", review_event_path(r.id) %>
          <span class="author">by <%= r.owner.full_name %></span>

          <div class="right">
           <% if not accepted.nil? and not accepted %>
            <span class="ui-corner-all rejected" 
                  style="padding:0.2em 0.5em;margin:0;margin-left:0.3em;">Rejected</span>
          <% elsif accepted %>
            <span class="ui-corner-all accepted" 
                  style="padding:0.2em 0.5em;margin:0;margin-left:0.3em;">Accepted</span>
          <% elsif not r.duedate.nil? %>
            <% countdown = r.duedate.to_date - DateTime.now.to_date %>
            <span class="ui-corner-all <%= extra %>" 
                  style="padding:0.2em 0.5em;">
              due <%= "in" if countdown > 0 %> 
              <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
              <%= "ago" if countdown < 0 %>
            </span>
          <% end %>
          </div>

        </li>
      <% end %>
      <% reset_cycle %>
      <% if current_user.review_requests.size == 0 %>
        <li><em>No one has requested you review their code yet.</em></li>
      <% elsif @current_requests.size == 0 %>
        <li><em>No review requests at this time.</em></li>
      <% else %>
        <%= paginate @current_requests, :param_name => "cur" %>
      <% end %>
    </ul>
  <% end %>


  <h1>My Reviews
    <%= link_to new_review_event_path, :class => "ui-corner-all ui-state-default button" do %>
      <span class="ui-icon ui-icon-circle-plus left"></span>Add
    <% end %>
  </h1>

  <% if current_user.sign_in_count == 1 and 
        current_user.reviews_owned.size == 0 %>
    <div style="font-size:0.9em;">
      <span class="ui-icon ui-icon-info left" style="margin-right:0.3em;"></span>
      <strong>You haven't created any reviews yet</strong>... 
      <br />
      This is where you will see the reviews that you have created. 
    </div>

    <div class="info" style="font-size:0.9em;">
      <p style="font-size:1.2em;">Submitting code for others to review:</p>
      <ul style="margin-left:2em;">
        <li style="list-style:circle;">Create a new review event by clicking the
          Add button above.</li>
        <li style="list-style:circle;">Add reviewers to your review by typing
          in their name, username, or email address.</li>
        <li style="list-style:circle;">Add a changeset to your review.  (A
          changeset is a collection of unified diffs.)</li>
          <li style="list-style:circle;">Upload unified diffs (from a patch file) or copy/paste the unified diffs manually.</li>
        <li style="list-style:circle;">Submit your changeset for review.</li>
        <li style="list-style:circle;">...</li>
        <li style="list-style:circle;">Profit???</li>
      </ul>
    </div>

  <% else %>
    <ul>
      <%# current_user.reviews_owned.sort_by {|r| r.updated_at}.each do |r| %>
      <% @my_reviews.each do |r| %>
        <% lastchset = r.changesets.last %>
        <li class="review-event <%= cycle("even", "odd") %>">
          <div style="display:inline-block; vertical-align:middle;">
            <span class="ui-icon ui-icon-carat-1-e inline-icon" 
                  style="margin-right:0.3em"></span>
            <em style="font-size:0.9em;margin-right:1em;"><%= r.updated_at.to_date %></em>
            <%= link_to "#{r.name}", review_event_path(r.id), 
                        :style => "margin-right:1em;" %>
          </div>

          <div class="review-event-actions right">
            <%= link_to_js "remove_review_event(this, '#{r.id}');" do %>
              <span class="ui-icon ui-icon-close left"></span>
              Delete
            <% end %>
          </div>

          <div class="right">
            <% if lastchset.nil? or not lastchset.submitted %>
              <span class="ui-corner-all info badge">Not Submitted</span>
            <% elsif lastchset.rejected? %>
              <span class="ui-corner-all rejected badge">Rejected</span>
            <% elsif lastchset.accepted? %>
              <span class="ui-corner-all accepted badge">Accepted</span>
            <% elsif not r.duedate.nil? %>
              <% extra = "neardue" if (r.duedate.to_date - 2).past? %>
              <% extra = "overdue" if r.duedate.to_date.past? %>
              <% countdown = r.duedate.to_date - DateTime.now.to_date %>
              <span class="ui-corner-all <%= extra %> badge"
                    style="display:inline-block;">
                due <%= "in" if countdown > 0 %> 
                <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
                <%= "ago" if countdown < 0 %>
              </span>
            <% end %>

            <% if not lastchset.nil? and lastchset.submitted and not lastchset.is_completed? %>
              <span class="ui-corner-all badge"><%= r.accepted_total %>/<%= r.reviewers_total %> accepted</span>
            <% end %>
          </div>

        </li>
      <% end %>
      <% reset_cycle %>
      <% if current_user.reviews_owned.size == 0 %>
        <li><em>You haven't submitted any code for review yet!
         Click the &quot;Add&quot; button above to create a new review event.
            <!--<a href="#">Download</a> the utility to submit new changesets or
            click the Add button above.</a>-->
           </em></li>
      <% else %>
        <%= paginate @my_reviews, :param_name => "rev" %>
      <% end %>
    </ul>
  <% end %>


<% recent_activity = all_recent(1.week.ago, 10) %>
  <h1>Recent Activity</h1>
  <ul>
    <% if recent_activity.size == 0 %>
      <li><em>No recent activity.</em></li>
    <% else %>
      <% recent_activity.each do |a| %>
        <li class="ui-corner-all review-event">
          <span class="ui-icon ui-icon-carat-1-e inline-icon" 
                style="margin-right:0.3em"></span>
          <em style="margin-right:1em;"><%= a.updated_at.to_s :short %></em>
          <% if a.class == Comment %>
            <% changeset = a.get_changeset %>
            <% event = changeset.review_event %>
            <% owner = event.owner %>
            <% type = "Comment" %>
            <% type = "Reply" if a.commentable.class == Comment %>
            <%= link_to type, comment_path(a) %> from 
            <%= user_profile_popup(a.user, :thumbnail => false, :username => a.user.full_name) %>
              for <%= link_to "#{event.name}", review_event_path(event) %>
              changeset <%= link_to "#{changeset.name}", changeset_path(changeset) %>
            </li>
          <% elsif a.class == Changeset %>
            <%= link_to "Changeset", changeset_path(a) %> from 
            <%= user_profile_popup(a.review_event.owner, :thumbnail => false, :username => a.review_event.owner.full_name) %>
            for <%= link_to "#{a.review_event.name}", review_event_path(a.review_event) %>
          <% else %>
            Unknown activity for <%= a.class %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

