
<div id="remove-review-dialog" class="hidden">
  Remove this review event?
</div>
<% if current_user.sign_in_count == 1 %>
  <div class="info ui-corner-all">
    <!--<a href="#" class="button ui-corner-all ui-state-default" 
      style="float:right; margin-left:1em;">Hide</a>-->
    <span style="font-size:1.5em;">Getting Started is Easy</span>.<br />
    <ul style="margin-left:2em;">
      <!--<li style="list-style:circle;">Try out this <a href="#">tutorial</a> 
        that will guide you through submitting your first changeset for 
        others to review.
      </li>
      <li style="list-style:circle;">To get the most out of using 
        <strong>Review</strong>, 
        <a href="#">download</a> the accompanying command line utility that 
        will help you submit changesets for others to review.  You can also
        submit changesets directly through this website by clicking the
        Add button next to <em>My Reviews</em> below to create a new
        review request.
        </li> -->
      <li style="list-style:circle;">Create a new review event by clicking the
        Add button next to &quot;My Reviews&quot; below.</li>
      <li style="list-style:circle;">Add reviewers and set a due date for your
        review.</li>
      <li style="list-style:circle;">Add a changeset to your review.  A
        changeset is a collection of unified diffs.</li>
      <li style="list-style:circle;">Submit your changeset for review.</li>
      <li style="list-style:circle;">...</li>
      <li style="list-style:circle;">Profit???</li>
    </ul>
  </div>
<% end %>

<div class="ui-widget ui-corner-top box">
  <h1>My Review Requests</h1>

  <% if current_user.sign_in_count == 1 and 
        current_user.current_requests.size == 0 %>
    <div style="font-size:0.9em;">
      <span class="ui-icon ui-icon-info" style="float:left; margin-right:0.3em;"></span>
      <strong>You don't have any review requests yet</strong>... 
      <br />
      This is where you will see review requests from other users when 
      they ask you to take a look at their code. 
    </div>
  <% else %>
    <ul>
      <% requests = 0 %>
      <% current_user.current_requests.each do |r| %>
        <% extra = "neardue" if not r.duedate.nil? and (r.duedate.to_date - 2).past? %>
        <% extra = "overdue" if not r.duedate.nil? and r.duedate.to_date.past? %>
        <% accepted = r.status_for(current_user) %>
        <li class="ui-corner-all review-event" style="margin-bottom:0.5em;">
          <span class="ui-icon ui-icon-carat-1-e inline-icon" 
                style="margin-right:0.3em"></span>
          <%= link_to "#{r.name}", review_event_path(r.id) %>
          <span class="author">by <%= r.owner.username %></span>
          <% if not accepted.nil? and not accepted %>
            <span class="ui-corner-all rejected" 
                  style="padding:0.2em 0.5em;margin:0;margin-left:0.3em;">Rejected</span>
          <% elsif not r.duedate.nil? %>
            <% countdown = r.duedate.to_date - DateTime.now.to_date %>
            <span class="ui-corner-all <%= extra %>" 
                  style="padding:0.2em 0.5em;">
              due <%= "in" if countdown > 0 %> 
              <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
              <%= "ago" if countdown < 0 %>
            </span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.review_requests.size == 0 %>
        <li><em>No one has requested you review their code yet.</em></li>
      <% elsif current_user.current_requests.size == 0 %>
        <li><em>No review requests at this time.</em></li>
      <% end %>

  <!--    <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
      <a href="#">Minor change</a> <span class="author">by Joe Bob</span></li>
      <li class="ui-corner-all overdue"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
      <a href="#">Major change to everything</a> <span class="author">by Sally Mae</span></li> -->
    </ul>
  <% end %>
</div>

<div class="ui-widget ui-corner-top box">
  <h1>My Reviews
    <!--<a href="#" class="ui-corner-all ui-state-default button"><span class="ui-icon ui-icon-circle-plus left"></span>Add</a>-->
    <%= link_to new_review_event_path, :class => "ui-corner-all ui-state-default button" do %>
      <span class="ui-icon ui-icon-circle-plus left"></span>Add
    <% end %>
  </h1>

  <% if current_user.sign_in_count == 1 and 
        current_user.reviews_owned.size == 0 %>
    <div style="font-size:0.9em;">
      <span class="ui-icon ui-icon-info left" style="margin-right:0.3em;"></span>
      <strong>You haven't made any review requests yet</strong>... 
      <br />
      This is where you will see review requests to other users while 
      you are waiting for them to take a look at your code. 
    </div>
  <% else %>
    <ul>
      <% current_user.reviews_owned.each do |r| %>
        <li class="ui-corner-all review-event">
          <div style="display:inline-block; vertical-align:middle;">
            <span class="ui-icon ui-icon-carat-1-e inline-icon" 
                  style="margin-right:0.3em"></span>
            <%= link_to "#{r.name}", review_event_path(r.id) %>
            <span class="author">by <%= current_user.username %></span>
            <% if r.changesets.last.nil? or not r.changesets.last.submitted %>
              <span class="ui-corner-all info"
                    style="padding:0.2em 0.5em;margin:0;">Not Submitted</span>
            <% elsif r.changesets.last.rejected? %>
              <span class="ui-corner-all rejected" 
                    style="padding:0.2em 0.5em;margin:0;">Rejected</span>
            <% elsif r.changesets.last.accepted? %>
              <span class="ui-corner-all accepted" 
                    style="padding:0.2em 0.5em;margin:0;">Accepted</span>
            <% elsif not r.duedate.nil? %>
              <% extra = "neardue" if (r.duedate.to_date - 2).past? %>
              <% extra = "overdue" if r.duedate.to_date.past? %>
              <% countdown = r.duedate.to_date - DateTime.now.to_date %>
              <span class="ui-corner-all <%= extra %>"
                    style="padding:0.2em 0.5em; display:inline-block;">
                due <%= "in" if countdown > 0 %> 
                <%= countdown == 0 ? "today" : countdown.abs.days.inspect %>
                <%= "ago" if countdown < 0 %>
              </span>
            <% end %>
          </div>
          <div class="review-event-actions">
            <%= link_to_js "remove_review_event(this, '#{r.id}');" do %>
              <span class="ui-icon ui-icon-close left"></span>
              Delete
            <% end %>
          </div>
        </li>
      <% end %>
      <% if current_user.reviews_owned.size == 0 %>
        <li><em>You haven't submitted any code for review yet!
         Click the &quot;Add&quot; button above to create a new review event.
            <!--<a href="#">Download</a> the utility to submit new changesets or
            click the Add button above.</a>-->
           </em></li>
      <% end %>
      <!--<li class="ui-corner-all neardue"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
      <a href="#">Super awesome stuff</a> <span class="author">by Andrew Thigpen</span></li>
      <li></li>-->
    </ul>
  <% end %>
</div>

<!--<div class="ui-widget ui-corner-top box">
  <h1>Recent Activity</h1>
  <ul>
    <li><em>No recent activity.</em></li>
    <li class="ui-corner-all neardue"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
    <a href="#">Super awesome stuff</a> <span class="author">by Andrew Thigpen</span></li>
    <li></li>
  </ul>
</div>-->

<!--<div class="ui-widget ui-corner-top box">
  <h1>Recent Reviews</h1>
  <ul>
    <li><em>No recent reviews.</em></li>
  </ul>
</div>

<div class="ui-widget ui-corner-top box">
  <h1>Recent Requests</h1>
  <ul>
    <li><em>No recent requests.</em></li>
  </ul>
</div>-->

