<% content_for :title, "Login" %>
<div style="text-align:center;">
  <div style="display:inline-block; text-align:left;">
    <div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %> <%= f.label :remember_me, :style => "display:inline;" %>
          </div>
        <% end %>

        <br />

        <div class="field">
          <%= f.submit "Sign in", :class => "btn" %>
        </div>
      <% end %>
    </div>

    <div style="padding:0 3em 1em;">
      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>
