<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>
    Review 
    <% if content_for? :title %>
      - <%= yield :title %>
    <% end %>
  </title>
  <%= stylesheet_link_tag "reset.css" %>
  <%#= stylesheet_link_tag "custom-theme/jquery-ui-1.8.10.custom.css" %>
  <%= stylesheet_link_tag "absolution/jquery.ui.all.css" %>
  <%#= stylesheet_link_tag "Aristo/jquery-ui-1.8.7.custom.css" %>
  <%= stylesheet_link_tag "chosen.css" %>
  <%= stylesheet_link_tag "main.css" %>
  <%= stylesheet_link_tag "tipTip.css" %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.9.custom.min.js" %>
  <%= javascript_include_tag "jquery.ui.autocomplete.selectFirst.js" %>
  <%= javascript_include_tag "jquery.scrollTo-min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "html5.js" %>
  <%= javascript_include_tag "chosen.jquery.js" %>
  <%= javascript_include_tag "jquery.tipTip.js" %>
  <%= javascript_include_tag "jquery.history.js" %>
<script type="text/javascript">
  var IE7_PNG_SUFFIX = ".png";
</script>
<!--[if IE]>
  <%= javascript_include_tag "IE9.js" %>
<![endif]-->
</head>
<body>
<div id="wrap">
  <header>
    <div>
      <%= link_to root_path do %>
        <img src="/images/logo.png" alt="review" />
      <% end %>
      <div id="user-links">
        <% if user_signed_in? %>
          Welcome <%= "#{current_user.full_name}" %> - <%= link_to "My Account", profile_path %> |
           <%= link_to "Report Bug", "http://github.com/andythigpen/Review/issues" %> | 
           <%= link_to "Logout", destroy_user_session_path %>
        <% else %>
           <%= link_to "Register", new_user_registration_path %> |
           <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>

  <nav id="main-nav">
    <ul>
      <li <%= 'class="active"' if not content_for? :page_name %>><%= link_to "Dashboard", root_path, :"data-filter" => "home" %></li>
      <li><%= link_to "Inbox", root_path + "#inbox", :"data-filter" => "inbox" %></li>
      <li><%= link_to "Outbox", root_path + "#outbox", :"data-filter" => "outbox" %></li>
      <% if content_for? :page_name %>
        <li class="active"><%= yield :page_name %></li>
      <% end %>
    </ul>
  </nav>

  <!--TODO move this to a more appropriate place. -->
  <!-- Dialogs -->
  <%= modal_dialog "delete-confirm" do %>
    Are you sure you want to delete this comment?
  <% end %>
  <%= modal_dialog "error-dialog" %>

  <section>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </section>
</div>

<footer>
  <% if user_signed_in? %>
    <div class="text-center" style="margin-top:1.5em;">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Changelog", "/changelog" %></li>
        <!--<li><a href="#">Download</a></li>
        <li><a href="#">Tutorial</a></li>-->
      </ul>
      <ul>
        <li><%= link_to "My Profile", profile_path %></li>
        <li><%= link_to "My Account", edit_user_registration_path %></li>
      </ul>
      <ul>
        <li><a href="http://github.com/andythigpen/Review/issues">Report Bug</a></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
      </ul>
    </div>
  <% end %>
  <div class="text-center" style="font-size:0.7em;<% if not user_signed_in? %>margin-top:1.5em;<% end %>">
    Copyright &copy; 2011 Andrew Thigpen
  </div>
</footer>

</body>
</html>
