<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Review</title>
  <%= stylesheet_link_tag "reset.css" %>
  <%#= stylesheet_link_tag "custom-theme/jquery-ui-1.8.10.custom.css" %>
  <%= stylesheet_link_tag "absolution/jquery.ui.all.css" %>
  <%#= stylesheet_link_tag "Aristo/jquery-ui-1.8.7.custom.css" %>
  <%= stylesheet_link_tag "main.css" %>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag "jquery-1.4.4.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.9.custom.min.js" %>
  <%= javascript_include_tag "jquery.ui.autocomplete.selectFirst.js" %>
  <%= javascript_include_tag "jquery.scrollTo-min.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "html5.js" %>
<script type="text/javascript">
  var IE7_PNG_SUFFIX = ".png";
</script>
<!--[if IE]>
  <%= javascript_include_tag "IE9.js" %>
<![endif]-->
</head>
<body>
<div id="wrap">
  <header>
    <div>
      <%= link_to root_path do %>
        <img src="/images/logo.png" alt="review" />
      <% end %>
      <div style="float:right; margin:0.5em 1.5em; font-size:0.9em;">
        <% if user_signed_in? %>
           Logged in as <em><%= link_to "#{current_user.profile_name}", profile_path %></em> |
           <%= link_to "Logout", destroy_user_session_path %>
        <% else %>
           <%= link_to "Register", new_user_registration_path %> |
           <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </header>

  <nav>
    <div>
      <%= link_to "Home", root_path %>
      <% if content_for? :page_name %>
        | <%= yield :page_name %>
      <% end %>
    </div>
  </nav>

  <!-- Dialogs -->
  <%= modal_dialog "delete-confirm" do %>
    Are you sure you want to delete this comment?
  <% end %>
  <%= modal_dialog "error-dialog" %>

  <section>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </section>
</div>

<footer>
  <% if user_signed_in? %>
    <div class="text-center">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Changelog", "/changelog" %></li>
        <!--<li><a href="#">Download</a></li>
        <li><a href="#">Tutorial</a></li>-->
      </ul>
      <!--<ul>
        <li><a href="#">Recent Reviews</a></li>
        <li><a href="#">Recent Requests</a></li>
      </ul>-->
      <ul>
        <li><%= link_to "My Account", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
      </ul>
    </div>
  <% end %>
  <div class="text-center" style="font-size:0.7em;">
    Copyright &copy; 2011 Andrew Thigpen
  </div>
</footer>

</body>
</html>
